@media screen {
    .md-typeset {
      font-size: 0.7rem;
      line-height: 1.6
    }
    .md-typeset h1 { font-size: 1.5rem; font-weight: 700; }
    .md-typeset h2,
    .md-typeset h3,
    .md-typeset h4,
    .md-typeset h5,
    .md-typeset h6,
}